@import url(http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext);

* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  overflow: hidden;
    background: rgba(16,87,30,1);
    background: -moz-linear-gradient(left, rgba(16,87,30,1) 0%, rgba(41,227,78,1) 51%, rgba(27,122,30,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(16,87,30,1)), color-stop(51%, rgba(41,227,78,1)), color-stop(100%, rgba(27,122,30,1)));
    background: -webkit-linear-gradient(left, rgba(16,87,30,1) 0%, rgba(41,227,78,1) 51%, rgba(27,122,30,1) 100%);
    background: -o-linear-gradient(left, rgba(16,87,30,1) 0%, rgba(41,227,78,1) 51%, rgba(27,122,30,1) 100%);
    background: -ms-linear-gradient(left, rgba(16,87,30,1) 0%, rgba(41,227,78,1) 51%, rgba(27,122,30,1) 100%);
    background: linear-gradient(to right, rgba(16,87,30,1) 0%, rgba(41,227,78,1) 51%, rgba(27,122,30,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10571e', endColorstr='#1b7a1e', GradientType=1 );
  margin-bottom: 20px;
}

.wrapper {
  width: 90%;
  max-width: 100%;
  margin-bottom: -20px;
  overflow: hidden;
}

header .logo {
  color: #f2f2f2;
  margin-bottom: 5%;
  font-size: 50px;
  line-height: 200px;
  float: left;
}

.wrapper img {
  border-radius: 50%;
  max-width: 20%;
  height: auto;
  float: left;
  margin: 30px 25px 2% 20px;
}

header .logo a {
  text-decoration: none;
  color: #fff;
}

header nav {
  float: right;
  line-height: 210px;
}

header nav a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  line-height: normal;
  font-size: 20px;
  color:white;
  transition: all 500ms ease;
}

header nav a:hover {
   background: black;
  border-radius: 50px;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
  color:white;
  text-decoration: none;
}

