@import url(http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext);
*{
    margin: 0;
    padding: 0;
}

body{
    background: #fffffa;    
}

.foot {
   position: absolute;
   bottom:1;
   width:100%;
   height:60px;   /* Height of the footer */
   background: #11a1d8;
   padding-top: 25px;
}

.foot a{
    padding-right: 20px;
}

header{
    width: 100%;
    overflow: hidden;
    background: #11a1d8;
    margin-bottom: 20px;
}

.wrapper{
    width: 90%;
    max-width: 100%;;
    margin-bottom: -20px;
    overflow: hidden;
}

header .logo{
    color: #f2f2f2;
    font-size: 50px;
    line-height: 200px;
    float: left;
}

.wrapper img{
    border-radius: 50%;
    max-width: 15%;
    height: auto;
    float: left;
    margin: 30px 25px 0 20px;
}

header .logo a{
    text-decoration: none;
    color: #fff;
}

header nav{
    float: right;
    line-height: 210px;
}

header nav a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;
    transition: all 500ms ease;
}

header nav a:hover{
    background: deepskyblue;
    border-radius: 50px;
    font-weight: bold;
    font-size: 25px;
}

.contenido p{
    margin-bottom: 16px;
}

.recordatorio{
    background-color: #fd4611;
    height: 400px;
    width: 20%;
    margin: 0 0 0 25px;
    float: left;
    border: 5px solid;
    border-color: black;
    position: relative;
}

.recordatorio a{
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 40px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    transition: all 500ms ease;
}

.recordatorio a:hover{
    font-weight: bold;
    font-size: 45px;
    transition: all 500ms ease;
}

.recordatorio2{
    background-color: #fd4611;
    height: 400px;
    width: 20%;
    float: left;
    margin: 0 1.5% 24px 1.5%;
    border: 5px solid;
    border-color: black;
    position: relative;
}

.recordatorio2 a{
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 40px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    transition: all 500ms ease;
}

.recordatorio2 a:hover{
    font-weight: bold;
    font-size: 45px;
    transition: all 500ms ease;
}