/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/08/2018, 06:29:23 PM
    Author     : Vivia Jones
*/

h1{
    color: red;
}

#Formulario{
    margin: auto;
    width: 50%;
    border: 2px solid grey;
    padding: 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
}

#Formulario label{
    font-family: "Times new rom";
    font-size: 20px;
}

#Formulario input[type=email], input[type=text], select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#mensaje{
    padding-bottom: 120px;
    width: 100%;
}

#Formulario input[type=submit]{
    width: 100%;
    color: white;
    font-size: 16px;
    background-color: #3333ff;
    margin: 8px 0;
    padding: 14px 20px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

#Formulario input[type=submit]:hover{
    background-color: #3366ff;
}