* {
  margin: 0;
  padding: 0;
}

body {
    background-image: url(../Imagenes/register.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
  text-align: center;
  padding: 20px;
  color: black;
  margin-left: 70px;
  font-weight: bold;
}

h2 {
  text-align: center;
  margin-right: 100px;
  padding: 20px;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

.Register-Container {
  width: 510px;
  margin: 0px auto;
  color: black;
  font-style: bold;
  font-size: 18px;
  padding: 20px;
  border-radius: 10px;
}

.Register-Container {
  background: #74ed88;
}

#registro {
  margin-left: 85px;
}

label {
  color: black;
  font-size: 18px;
  font-style: BOLD;
}

.inputs {
  width: 300px;
  border: none;
  border-radius: 3px;
  outline: 0;
  padding: 7px;
  margin-top: 5px;
  margin-bottom: 15px;
  color: #000;
}

/*#btnRegistrar {
  width: 200px;
  padding: 7px;
  font-size: 18px;
  font-style: bold;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  outline: 0;
  margin: 20px 0px 0px 0px;
  text-align: center;
  background: #25a512;
  color: black;
}

#btnRegistrar:hover {
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  background: #1748d1;
  color: white;
}

#btnActualizar {
  width: 200px;
  padding: 7px;
  font-size: 18px;
  font-style: bold;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  outline: 0;
  margin: 20px 0px 0px 50px;
  text-align: center;
  background: #25a512;
  color: black;
}

#btnActualizar:hover {
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  background: #1748d1;
  color: white;
}

#btnEliminar {
  width: 200px;
  padding: 7px;
  font-size: 18px;
  font-style: bold;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  outline: 0;
  margin: 20px 0px 0px 50px;
  text-align: center;
  background: #25a512;
  color: black;
}

#btnEliminar:hover {
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  background: #1748d1;
  color: white;
}*/

.contramatch {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 16px;
}


